.pomodoro-app {
  font-family: "Arial", sans-serif;
  color: white;
  background-color: #d95550; /* Adjust the color to match the screenshot */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.timer-main {
  background-color: #e85d5a; /* Adjust the color to match the screenshot */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-modes {
  margin-bottom: 20px;
}

.mode-button {
  padding: 10px 20px;
  border: none;
  background: none;
  color: white;
  font-size: 1em;
  margin: 0 5px;
  cursor: pointer;
}

.mode-button.active {
  text-decoration: underline;
}

.timer-display {
  font-size: 5em;
  margin: 20px 0;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.5em;
  margin-bottom: 30px;
  border: none;
  background-color: #f7f7f7; /* A light gray background for the button */
  color: #d95550; /* Color to match the background of the app */
  cursor: pointer;
  border-radius: 5px;
}

.task-container {
  border-top: 2px dashed #f7f7f7;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.task-title {
  color: #f7f7f7;
  margin-top: 10px;
}

.timer-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .timer-display {
    font-size: 3em;
  }

  .start-button {
    padding: 5px 10px;
    font-size: 1em;
  }

  .app-header {
    font-size: 1em;
  }
}
