.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .timer-container .time-display {
    font-size: 3em;
  }
}
